html, body {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sessao {
    width: 100%;
    box-sizing: border-box;
    padding: 70px 70px 30px 70px;
}

#inicio {
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

#menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 25px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    box-sizing: border-box;
}

button#abre-fecha-menu {
    width: 30px;
    height: 33px;
    border: none;
    outline: none;
    display: none;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: all;
}

button#abre-fecha-menu span {
    width: 100%;
    flex: 1;
    margin: 4px 0;
    background-color: rgb(54, 54, 54);
    transform-origin: left;
    transition: transform 300ms;
}

#menu.aberto button#abre-fecha-menu span:nth-child(1) {
    transform: rotate(-45deg) translateY(11px) translateX(-6px) scaleX(60%);
}

#menu.aberto button#abre-fecha-menu span:nth-child(2) {
    transform-origin: right;
    transform: scaleX(80%);
}

#menu.aberto button#abre-fecha-menu span:nth-child(3) {
    transform: rotate(45deg) translateY(-11px) translateX(-6px) scaleX(60%);
}

#menu .menu-itens ul {
    list-style: none;
    box-sizing: border-box;
}

#menu>h5 {
    font-size: 17pt;
    padding: 11px 0;
    text-align: right;
}

#menu .menu-itens ul li {
    display: inline-block;
}

#menu .menu-itens ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 15px 10px;
    font-weight: bold;
    box-sizing: border-box;
}

#inicio .centro>* {
    box-sizing: border-box;
}

#inicio .centro .banner {
    height: calc(100vh - 60px);
}

#inicio .centro .banner img {
    height: 100%;
}

#inicio .centro {
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    display: flex;
    width: 100%;
    align-items: center;
}

#inicio .centro .conteudo {
    flex: 1;
}

@media screen and (max-width: 1100px) {
    #inicio .centro .banner {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    button#abre-fecha-menu {
        display: flex;
    }
    #menu .menu-itens {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        z-index: 100;
        padding-top: 40px;
        transform: translateX(-140px);
        pointer-events: none;
        transition: transform 300ms, background-color 300ms;
        background-color: transparent;
    }
    #menu.aberto .menu-itens {
        background-color: #fff;
        transform: translateX(0px);
        pointer-events: all;
    }
    #menu .menu-itens ul li {
        display: block;
    }
}

#inicio .centro .conteudo p {
    font-size: 14pt;
}

.sessao h1.title {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.lista-produtos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 70px;
    row-gap: 70px;
}

.lista-produtos .item .foto img {
    width: 100%;
}

.lista-produtos .item {
    display: grid;
    grid-template-rows: 1fr auto 50px;
    text-align: center;
}

.lista-produtos .item .opcoes button {
    background: #009688;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12pt;
}

.lista-produtos .item .detalhes {
    padding: 15px 0;
}

.lista-produtos .item .detalhes .valor {
    font-weight: bold;
    display: inline-flex;
    align-items: flex-end;
    margin: 10px 0;
    font-size: 17pt;
}

.lista-produtos .item .detalhes .produto {
    font-size: 12pt;
}

.lista-produtos .item .detalhes .valor .decimal {
    font-size: 13pt;
    margin-bottom: 2px;
}

p.texto {
    font-size: 16pt;
}

.text-center {
    text-align: center;
}

ul.redes-sociais {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
}

ul.redes-sociais li a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    padding: 7px 5px;
    display: block;
}

ul.redes-sociais li a span {
    color: rgb(58, 57, 57);
}

.align-horizontal {
    display: flex;
    justify-content: center;
}

footer {
    padding: 50px 30px 50px 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}